<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huatu.tiger.hdlupdateapp">
    
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:sharedUserId="android.uid.system"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".TcpServerService"
            android:enabled="true"
            android:exported="true"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/MainApp"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.huatu.tiger.hdlupdateapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>

        　　 <!--
            订阅（Xml形式订阅接收者）
            订阅接收者：专门去接收Android系统发出的（安装/替换/卸载）广播
            应用：和package 有关，所以需要PACKAGE_XXX
         -->
        <receiver android:name=".InstallUninstallBroadcastReceiver">

            <intent-filter>

                <!-- 应用安装了 -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <!-- 应用卸载了 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <!-- 应用被覆盖了 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <!-- 系统就是这样发送的，所以必须这样订阅 -->
                <data android:scheme="package" />

            </intent-filter>

        </receiver>
    </application>

</manifest>